<main role="main">

    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-4 project-detail-sb">
                        <div class="project-sidebar-block mb-4">
                            <img class="d-block w-100" src="/images/Me.jpeg" height="209" width="209" alt="First slide">
                        </div>
                        <hr>
                        <div class="project-sidebar-block mb-4">
                            <h2>Social Profiles</h2>
                            <div class="project-sidebar-links">

                                <a class="" href="#"><i class="fab fa-linkedin fa-2x"></i> </a>
                                <a class="" href="#"><i class="fab fa-instagram fa-2x"></i> </a>
                                <a class="" href="#"><i class="fab fa-github-square fa-2x"></i> </a>

                            </div>
                        </div>
                        <hr>
                        <div class="project-sidebar-block mb 4">
                            <h2>About this Project</h2>
                            <br>

                            <a class="" href="#"><i class="fab fa-node-js fa-2x"></i> </a>
                                <a class="" href="#"><i class="fab fa-js fa-2x"></i> </a>
                                <a class="" href="#"><i class="fab fa-html5 fa-2x"></i> </a>
                                <a class="" href="#"><i class="fab fa-css3 fa-2x"></i> </a>
                                <a class="" href="#"><i class="fab fa-linux fa-2x"></i> </a>

                        </div>
                        <hr>
                        <div class="project-sidebar-block mb 4">
                            <h2>Resources</h2>
                            <div class="project-sidebar-links">
                                <a class="bc-item" href="{{this.link}}">{{this.name}}</a>
                            </div>


                            <div class="project-sidebar-links">
                                <a class="bc-item" href="{{this.link}}">{{this.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item bc-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item bc-item"><a href="contact">contact</a></li>
                            <li class="breadcrumb-item active" aria-current="page"></li>
                        </ol>
                    </nav>
                    
                    <br>
                    <div class="project-sidebar-block">
                        <h1 class="display-4">Hi! I'm Akhilesh Sooji</h1>
                        <br>
                        <h3 class="lead" style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
                    </div>
                    <hr>

                    <div class="project-sidebar-block">
                        <h2 class="display-4">About This Project</h2>
                        <br>
                        <p class="lead" style="text-align:justify;">I started this project to showcase how to build a portfolio app using MEAN to my students. And since then, this has been one of the makor project that always mention during the sessions. This project includes all the aspects of the full stack development. A very small project though but can be really good to start learning MEAN.</p>
                        <br>
                        <p class="lead" style="text-align:justify;">I am using <a href="#">Bootstrap</a>, <a href="#">Node.js</a> &amp; <a href="#">Express js</a> to build this.</p>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</main>